.blog {
    min-height: 100vh;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.carousel-item img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.reaction-icon {
    transition: transform 0.2s ease;
}

.reaction-icon:hover {
    transform: scale(1.2);
}