<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Speekly Admin</title>
</head>
<body>

<div class="container-scroller">
  <app-navbar-back class="mb-5"/>
  <div class="container-fluid page-body-wrapper mt-5">
    <app-sidebar-back class="mt-5"/>
    <div class="main-panel">
      <router-outlet/>
    </div>
  </div>

</div>
<app-footer-back/>
</body>

</html>
