canvas {
  width: 100% !important;
  height: 300px !important;
}
.example-circle-chart{
  height: 700px;
}

/* Style pour le spinner de chargement */
.loading-spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
}